#board {
    height: 400px;
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#kill{
    height:400px;
    width:400px;
    background: green;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    
    margin:auto;
}


#details{
    height: 50px;
    width: 400px;
    background: green;
    margin: 100px;
}

#boarddetails{
    height: 100px;
    width:200px;
    background: green;
    margin-right:50px;
    margin-left: 500px;
    margin-top:-599px;
}


#turn{
    height: 50px;
    width:  50px;
    background: red;
    margin-right:50px;
    margin-left: 900px;
    margin-top:299px;
}

#board .column {
    height: 50px;
    width: 50px;
    background: #FCFECC;
    float: left;
    font-size: 45px;
    cursor:pointer;
}
.divborder 
{
    border-style:solid;
    border-color:blue;
    border-width:1px; 
}

#board .column.dark {
    background: #8C5244;
}

#kill div{
    height: 50px;
    width: 50px;
    float: left;
}
 
#board .column div {
    height: 50px;
    width: 50px;
}

.WHITE_KING {
    background: url(' images/wking.png');
}
 
.WHITE_QUEEN {
    background: url(' images/wqueen.png');
}
 
.WHITE_ROOK {
    background: url(' images/wrook.png');
}
 
.WHITE_BISHOP {
    background: url('images/wbishop.png');
}
 
.WHITE_KNIGHT {
    background: url(' images/wknight.png');
}
 
.WHITE_PAWN {
    background: url(' images/wpawn.png');
}
 
 
.BLACK_KING {
    background: url(' images/bking.png');
}
 
.BLACK_QUEEN {
    background: url(' images/bqueen.png');
}
 
.BLACK_ROOK {
    background: url(' images/brook.png');
}
 
.BLACK_BISHOP {
    background: url(' images/bbishop.png');
}
 
.BLACK_KNIGHT {
    background: url(' images/bknight.png');
}
 
.BLACK_PAWN {
    background: url(' images/bpawn.png');
}
 
.EMPTY {
    background: none;
    cursor: default;
}